.awesome table{
    margin-top: 1rem;
    margin-left: 2rem;
    border-collapse: collapse;
     
 }
 
 .ready{
     display: flex;
     justify-content: center;
     font-size: 1.5rem;
     font-weight: bold;
  
 }
 
 
 .awesome td,th,tr{
     border: 2px solid black;
     padding-left: 1rem;
     padding-right: 1rem;
     height: 4rem;
     text-align: center;
    
 }
 .awesome th{
     font-size: 20px;
     font-weight: bold;
     width: 16rem;
    color: #6c09aa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
 }
 
 
 .cork{
     margin-top: 1rem;
     display: flex;
     text-align: center;
     margin-left: 31rem;
     padding-left: 1rem;
     padding-right: 1rem;
     height: 2.5rem;
     padding-top: 0.5rem;
     padding-bottom: 1rem;
     font-size: 1.2rem;
     font-weight: bold;
     border-radius: 5px;
     background-color:#881bcc;
     background-color: rgb(109, 105, 105);
     color: white;
     cursor: pointer;
     
    
 }

 .cork:hover{
    background-color: red;
    background-color: rgb(51, 50, 50);
 }
 
 
 .awesome td{
    font-size: 18px;
    font-weight: bold;
 }
 
 
 
 .awesome input{
     width: 4.5rem;
     height: 2rem;
     border-radius: 4px;
     border-color: black;
     
 }
 .awesome textarea{
     height: 2rem;
     border-radius: 4px;
     border-color: black;
     
    
 
 }

.awesome button{
    
    width: 3rem;
    height: 2rem;
    border-radius: 4px;
    border-color: black;
    font-weight: bold;
    font-size: 1rem;
    
    
}

.awesome button.shade{
    
    
    background-color: #6f4d85;
    color: white;
    cursor: pointer;
    height: 2rem;
    width: 5rem;
    

}

.awesome button.paint{
    background-color: rgb(97, 97, 104);
    color: white;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    background-color: #25274D;
}
.sky{
    background-color: #f9f9f9;          
    border-radius: 10px;     
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 70rem;
    padding: 30px;
    margin-left: 11rem;
    height: 34rem;
    padding-right: 4rem;
}

.ad{
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    text-align: center;
    justify-content: center;
    font-weight: bold;
   
}


  
  .ad p {
    height: 2.5rem;
    padding: 10px 20px; 
    margin: 0;
    border: 1px solid #007bff; 
    border-radius: 5px; 
    background-color: #25274D;
    color: white; 
    text-align: center; 
    cursor: pointer; 
    user-select: none; 
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .ad p:hover {
    background-color: #25274D;
    border-color: #004080; 
    cursor: pointer;
  }
  
.jk{
    margin-left: 0.5rem;
    width: 10rem;
    height: 1.5rem;
    text-align: center;
}

.dd{
    margin-left: 2rem;
    width: 8rem;
    height: 2.3rem;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    position: absolute;
    font-size: 1rem;     
}

.dd:hover{
    
    border-color: #004080; 
    cursor: pointer;

}


.alert-message-position {
    background-color: #24254d;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative; 
    top: 15;
    z-index: 1000; 
    width: 15rem;
    justify-content: center;
    margin-left: 40rem;
  }

  .dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 150px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-left: 35rem;
  }


  .dropdown-option {
    padding: 10px;
    cursor: pointer;
    
  }
  .dropdown-option:hover {
    background: #f0f0f0;
    font-weight: bold;
  }
  .selected-user {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 6rem;
  }     
        
  .priority-position{
    margin-top: 3.5rem;
    margin-left: 2rem;
    width: 6rem;
    font-size: 1rem;
    font-weight: bold;
  }
 




 
