
.template{
  text-align: center;
}

.template-position{
  margin-left: 0.5rem;
}

.back-position{
  background-color: #f9f9f9;          
  border-radius: 10px;     
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: 60rem;
  margin-left: 20rem;
  padding: 30px;
  margin-top: 2rem;
}

.items-position{
  margin-left: 72rem;
  font-weight: bold;
  font-size: 1rem;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: center;
}

textarea {
  width: 100px;
  height: 30px;
}

.same-line{
  display: flex;
  justify-content: center;
  
}

.same-line button{
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
  
}

.alert-message-position {
  background-color: #24254d;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative; 
  top: 48rem;
  z-index: 1000; 
  justify-content: center;
  margin-left: 40rem;
  
}

.menu-position{
  width: 6rem;
  
}


