
.assigned-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.assigned-card {
  max-width: 850px; 
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 8px
}

.card-title {
  margin-bottom: 30px;
  justify-content: center;
}

.task-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th,
.task-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.task-table th {
  background-color: #f4f4f4;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button {
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #25274D;
}

.radio-group {
  gap:30px;
}

input[type="text"],
input[type="number"] {
  width: 100%; 
}

.comment-input {
  margin-top: 5px; 
} 



.modal {
  position: fixed; 
  top: 1rem; 
  left: 0; 
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  z-index: 1000; 
}

.modal-content {
  background-color: white; 
  border-radius: 8px; 
  padding: 20px; 
  max-width: 850px; 
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 60px; 
  overflow-y: auto; 
  max-height: 80vh;
}


.close {
  position: absolute; 
  top: 10px; 
  right: 20px; 
  cursor: pointer; 
  font-size: 24px; 
}

