body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.template-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5rem;;
}

.template-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.template-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.template-heading {
  font-size: 28px;
  color: #333;
  margin: 0px;
  font-weight: bold;
  text-transform: capitalize;
}


.version-container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-bottom: 30px;
  margin-top: 20px;
}

.version-heading {
  font-size: 15px;
  color: #444;
  margin:0px;
  font-weight: bold;
  padding: 5px;
  border-radius: 8px;
}

.date-heading{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: #F4F4F4;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  align-items:center ;
}

.item-card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.item-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.responses-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
  
}

.response-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 16px; 
  margin-top: 12px;
}

.response-card {
  background-color: #cacbe5;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.response-card:hover {
  background-color: #9497cc;
}

.response-time,
.response-status {
  font-size: 14px;
}


.item-card p {
  color: #888;
}

.item-card p.no-responses {
  font-style: italic;
  color: #ccc;
  text-align: center;
}
