
 .browse-container {
  display: flex;
  height: 100vh; 
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px;
  position: relative; 
}

.checklist-heading {
  margin-bottom: 20px;
  font-size: 24px; 
  font-weight: bold; 
}
.main-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto; 
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  flex: 0 0 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sort-container {
  display: flex;
  align-items: center;
}

.sort-select {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  justify-items: center; 
  margin-top: 20px;
}

.card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 200px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.view {
  margin-top: 10px;
  color: #25274D;
  cursor: pointer;
  font-weight: bold;
}

.view:hover {
  color: #1e1f34;
}


.modal {
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 6rem;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; 
  position: relative; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.alert {
  position: fixed;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 2000; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 






.assigned-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.assigned-card {
  max-width: 850px; 
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 8px
}

.card-title {
  margin-bottom: 30px;
  justify-content: center;
}

.task-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th,
.task-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.task-table th {
  background-color: #f4f4f4;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button {
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #25274D;
}

.radio-group {
  gap:30px;
}

input[type="text"],
input[type="number"] {
  width: 100%; 
}

.comment-input {
  margin-top: 5px; 
} 



.modal {
  position: fixed; 
  top: 1rem; 
  left: 0; 
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  z-index: 1000; 
}

.modal-content {
  background-color: white; 
  border-radius: 8px; 
  padding: 20px; 
  max-width: 850px; 
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 60px; 
  overflow-y: auto; 
  max-height: 80vh;
}


.close {
  position: absolute; 
  top: 10px; 
  right: 20px; 
  cursor: pointer; 
  font-size: 24px; 
}
.icon-green {
  color: green;
  font-size: 1.2rem;
}
.submit-container {
  text-align: center;
  margin-top: 20px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:disabled {
  cursor: not-allowed;
  opacity: 0.6; 
}
