.menu{
    margin-top: 1rem;
    color: rgb(250, 248, 253);
    font-size: 1.5rem;
}
.li{
    margin-top: 5rem;
}

.lor{ 
    
    background-color: #AAABB8;
    height: 100%;
    width: 100%;
}

.card{
    border:1px solid hsl(0, 14%, 96%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    margin-left: 1.7rem;
    height: 14.1rem;
    width: 18rem;
    display: inline-block;
    background-color: #AAABB8;
    margin-top: 2rem;
}

.pic{
    height: 4rem;
    width: 4rem;
    margin-left: 14rem;  
    
}
.vin{
    text-align:left;
    margin-left: 2rem;
    
    
    
}
.more{
    text-align: end;
    margin-top: 2.6rem;
    background-color: #e8e8eb;
    height: 2rem;
    border-radius: 8px; 
   
}

.more:hover{
    cursor: pointer;
    color: white;
    background-color: #25274d;
}
.full{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
   
    
}

.power{
    margin-top: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.dashboard-container {
    background-color: #AAABB8; 
    height: 90rem;
    padding-bottom: 2rem; 
    width: 95rem;
}

.content {
    padding: 1rem; 
}

.skyy{
    background-color: #f9f9f9;          
    border-radius: 10px;     
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 85rem;
    padding: 30px;
    margin-left: 5rem;
    height: 45rem;
    padding-right: 4rem;
}

.in{
    /* style={{borderRadius:'5rem', height:'5rem',width:'5rem',textAlign:'center',fontSize:'2rem',marginLeft:'2rem'}} placeholder='95%' */
    border-radius: 5rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    font-size: 2rem;
    margin-left: 2rem;
}