
 .pending-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
  margin: 0;
}

.carddd {
  width: 80%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
}

.headerr {
  margin-bottom: 20px; 
  text-align: center; 
}

.pending-title {
  font-size: 24px;
  font-weight: bold;
  color: #25274D; 
  margin: 0;
}

.task-details {
  padding: 20px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-title {
  font-size: 20px;
  font-weight: bold;
  color: #25274D; 
}



.task-info p {
  margin: 10px 0;
  font-size: 16px;
}

.task-description {
  margin-bottom: 20px;
}

.section-heading {
  font-size: 18px;
  font-weight: bold;
  color: #25274D; 
  margin-bottom: 10px;
  border-bottom: 2px solid #25274D; 
  padding-bottom: 5px;
}

.task-attachments ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.attachment-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.attachment-item img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.attachment-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.attachment-info span {
  flex: 1;
}

.download-btn {
  background-color: #25274D; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #1d1f36;
}

.task-comments {
  margin-bottom: 20px;
}

.task-comments textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.add-comment-btn {
  background-color: #25274D; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-comment-btn:hover {
  background-color: #1d1f36;
}

.task-status-actions {
  margin-bottom: 20px;
}

.task-status-actions p {
  font-size: 16px;
  margin-bottom: 10px;
}

.status-label {
  font-weight: bold;
  color: #111110; 
}

button {
  background-color: #25274D; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #1d1f36;
}

.mark-complete-btn {
  background-color: #25274D; 
}


