/* General Styling */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
  overflow: hidden;
}

/* Centered Container */
.signin-section {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 3rem 4rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  max-width: 500px;
  width: 100%;
}

/* Headline & Subtext */
.welcome-message {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  font-weight: 800;
}

.welcome-subtext {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
  color: whitesmoke;
  font-style: italic;

}

/* Button Section */
.signin-buttons {
  display: flex;
  justify-content: space-between; /* Align buttons side by side */
  gap: 20px; /* Space between the buttons */
  flex-wrap: wrap; /* Allow wrapping on small screens */
  margin-top: 20px;
}

/* General Button Styling */
.signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-size: 1.1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  width: 220px;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  font-weight: 500;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  align-items: center; /* Center the content in button */
}

.signin-button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
}

.signin-button-google {
  background: #fff;
  color: #4285f4;
  font-weight: 600;
  border: 1px solid #4285f4;
}

.signin-button-google:hover {
  background: #f1f1f1;
  color: #4285f4;
}

.signin-button-microsoft {
  background: #0069b7;
  color: white;
  font-weight: 600;
  border: none;
  position: relative;
}

.signin-button-microsoft:hover {
  background: #005b96;
  transform: translateY(-4px);
}

/* Microsoft Button Logo */
.microsoft-logo {
  height : 30px;
  width: 70px; /* Adjust size of logo */
  margin-right: 10px; /* Space between logo and text */
}
