
.dashboard-container {
  padding: 20px;
}

.tag {
  text-align: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  background-color: black;
  width: 6rem;
  color: white;
  margin: 1rem auto; 
  height: 1.8rem;
  font-size: 1.2rem;
}


.sk, .notification-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40rem; 
  padding: 15px; 
  margin: 2rem auto;
}


.notification-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}


.tag-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.form-row label {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 10px;
  flex: 1;
}


.form-row input,
.form-row textarea,
.form-row select {
  flex: 2;
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}


.form-row select {
  appearance: none;
  position: relative; 
}

.form-row select:focus {
  outline: none;
  border-color: #007bff;
}


.del {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.del button {
  width: 7rem; 
  height: 2.2rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #24254d;
  color: white;
  transition: background-color 0.3s ease;
}

.del button:hover {
  background-color: #484878;
  cursor: pointer;
}


.alert-message {
  background-color: #24254d;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  top: 15px;
  z-index: 1000;
  width: 18rem;
  margin: 1rem auto;
  border-radius: 5px;
}


.grid {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

