.card {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.checklist-table {
  width: 100%;
  border-collapse: collapse;
}

.checklist-table th,
.checklist-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.checklist-table th:nth-child(2),
.checklist-table td:nth-child(2) {
  width: 300px; 
}

.checklist-table th:nth-child(3),
.checklist-table td:nth-child(3) {
  width: 200px; 
}

.checkbox-icon {
  cursor: pointer;
  color: black;
}

.checkbox-icon.checked {
  color: green;
}

.update-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #25274D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #1f1f2e; 
}

.update-message {
  color: green;
  margin-top: 10px;
}

.radio-group {
  display: flex; 
  align-items: center;
  justify-content: flex-start; 
}

.radio-group label {
  margin-right: 10px; 
  white-space: nowrap; 
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}
.completion-indicator {
  color: green; 
  margin-left: 10px; 
  font-size: 1.5em; 
}

.notification {
  margin-top: 20px;
  color: green; 
  font-weight: bold;
}
