
 html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.container {
  background-color: #25274D;
  padding: 8px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px; 
  z-index: 1000; 
}

.check {
  margin-right: auto;
}

.check img {
  width: 50px;
  height: auto; 
}

.pro {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
}

.drawer-button {
  background: transparent; 
  border: none; 
  position: absolute;
  top: 100%;
  right: 0; 
  margin-top: 8px; 
  background-color: #464866; 
}

.main-content {
  margin-top: 45px; 
  padding: 20px; 
  flex: 1; 
  overflow: auto; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.dashboard-cards {
  display: flex;
  justify-content: center; 
  gap: 2rem; 
  flex-wrap: wrap; 
  margin-top: 5rem;
  margin-left: 5rem;
}

.dashboard-cards .MuiCard-root {
  width: 250px; 
  max-width: 100%; 
}

.card-title {
  display: flex;
  align-items: center;
}

.card-icon {
  font-size: 1.5rem; 
  margin-left: 8px; 
}

.MuiDrawer-paper {
  background-color: white;
  margin-top: 63px; 
}
