.department{
    border:1px solid hsl(0, 14%, 96%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
    margin-left: 4.5rem;
    height: 8rem;
    width: 18rem;
    display: inline-block;
    background-color: #f7f7fb;
    margin-top: 2rem;
    text-align: center;
}


.save-position{
    margin-top: 5rem;
    text-align: center;
    justify-content: center;  
}

.save-but{
    width: 8rem;
    font-size: 1.1rem;  
    
}


.department:hover{
    background-color: rgb(178, 170, 170);
}

.choose{
    display: flex;
    justify-content: center;
}

.log{
    height: 50px;
    margin-top: 0.5rem;
    margin-left: 4rem;   
}


.color{
    background-color: #25274d;
    height: 4rem;
}

.but-position {
    text-align: center;
    margin-top: 2.8rem;
    font-size: 1.1rem;
    background-color: #25274d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.but-position.active {
    background-color: rgb(154, 151, 151); 
    color: white;
    font-weight: bold;
    
}

















