/* .iron {
    font-size: 40px;
    color: white;
    margin-left: 90rem;
    margin-top:0.8rem ;
  }

.hope{
    background-color: #25274D;
    height: 4rem;
    width: 100%;
  }


.imm{
  position: fixed;
  height:50px;
  margin-left: 4rem;
  top: 0.5rem;
} */


/* .ir{
  margin-left: 82rem;
  font-size: 40px;
  color: white;
  margin-bottom: 0.3rem;
  
  

} */

.hii{
  height: 50px;
  margin-top: 0.5rem;
  
}
