
.reports-container {
  font-family: Arial, sans-serif;
}

.filters {
  display: flex;
  justify-content: center;


}

.filter-select {
  left: 30rem;
  top: 5rem;
  width: 9rem;
}

.summary-item {
  padding: 12px;
  text-align: center;
  margin-bottom: 16px;
  max-width: 300px;
  margin: 0 auto;
}

.progress-circle {
  border: 5px solid #ddd;
  border-radius: 90%;
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.progress-circle Typography {
  font-size: 20px;
  position: absolute;
}

.chart-paper {
  padding: 12px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;


}

.textarea-feedback {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;

}

